<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        test
    </title>
    <script src="../static/js/jQuery.js"></script>
    <script>
        $(document).ready(function(){
            $("#login").click(function(){
                $.ajax({
                    url:"http:127.0.0.1:8080/t/1",
                    type:"get",
                    dataType:"json",
                    success:function(data){
                        console.log(data);
                        alert(data.message);
                    },
                    error:function(){
                        alert("error");
                    }
                });
            });
        });
    </script>
</head>
<body>
<button id="login">test</button>
</body>
</html>