<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maple.bbs.mapper.ArticleMapper">
    <resultMap id="articleMap" type="Article">
        <id property="articleId" column="article_id"></id>
        <result property="articleTitle" column="article_title"></result>
        <result property="articleBody" column="article_body"></result>
        <result property="author" column="author"></result>
        <result property="articleState" column="article_state"></result>
        <result property="sort" column="sort"></result>
        <result property="label" column="label"></result>
        <result property="postTime" column="post_time" jdbcType="TIMESTAMP"></result>
        <result property="lastReplyTime" column="last_reply_time" jdbcType="TIMESTAMP"></result>
        <result property="lastReplyAuthor" column="last_reply_author"></result>
        <result property="replyNum" column="replyNum"></result>
    </resultMap>
    <!--<select id="selectAllArticle" resultMap="articleMap">-->
        <!--select * from article-->
    <!--</select>-->
    <!--<select id="selectArticlesBySortId" resultMap="articleMap" parameterType="java.lang.String">-->
        <!--select * from article where sort = #{sortId}-->
    <!--</select>-->
    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into article(article_title, article_body, author, sort, label, post_time) VALUES (#{articleTitle},#{articleBody},#{author},#{sort},#{label},#{postTime})
    </insert>
    <update id="updateLastReply" parameterType="Reply">
        update article
        set  reply_num=reply_num+1,last_reply_time=#{postTime},last_reply_author=#{author}
        where article_id=#{articleId};
    </update>
    <update id="topArticle">
        update article
        set article_state='1'
        where article_id=#{articleId};
    </update>
    <update id="starArticle">
        update article
        set article_state='2'
        where article_id=#{articleId};
    </update>
    <update id="deleteArticle">
        update article
        set article_state='-1'
        where article_id=#{articleId};
    </update>
    <update id="cancelDelete">
        update article
        set article_state='0'
        where article_id=#{articleId};
    </update>
    <update id="cancelTop">
        update article
        set article_state='0'
        where article_id=#{articleId};
    </update>
    <update id="cancelStar">
        update article
        set article_state='0'
        where article_id=#{articleId};
    </update>
    <select id="queryAllDeleteArticle" resultMap="articleMap">
    select * from article where article_state='-1' order by post_time asc
    </select>
    <select id="queryAllTopArticle" resultMap="articleMap">
    select * from article where article_state='1' order by post_time asc
    </select>
    <select id="queryAllStarArticle" resultMap="articleMap">
    select * from article where article_state='2' order by post_time asc
    </select>
    <select id="articleNum" resultType="java.lang.Integer">
        select count(*) from article where article_state=#{articleState}
    </select>
    <select id="queryAllArticle" resultMap="articleMap">
        select * from article where article_state ='0' order by last_reply_time desc
    </select>
</mapper>